POSTGRES_DB=goszakupki
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=db
POSTGRES_PORT=5432

APP_URL=http://127.0.0.1:8000
APP_BASE=

BASE_URL=https://int.zakupki.gov.ru/eis-integration/services/getDocsIP
DOWNLOAD_URL=https://int.zakupki.gov.ru/dstore/common/download/compound
TOKEN=
SOAP_TIMEOUT=90
DOWNLOAD_TIMEOUT=90

SYSTEM_TOKEN=

BACKFILL_ON_STARTUP=false
BACKFILL_DAYS=7
DAILY_JOB_HOUR_MSK=10
DAILY_JOB_MINUTE_MSK=0
SCHEDULER_LOCK_KEY=
RETRY_COUNT=3
RETRY_DELAY=10

SMTP_SERVER=
SMTP_PORT=
SMTP_USER=
SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_TEST_EMAIL=

LLM_API_KEY=
LLM_BASE_URL=
LLM_MODEL_NAME=
LLM_FOLDER_ID=

TMP_DIR=tmp
MAX_CONCURRENT_SEMAPHORE=5